---
Checks: 'boost-*,
         bugprone-*,
         cert-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         google-*,
         hicpp-*,
         llvm-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -llvm-include-order,
         -modernize-use-trailing-return-type,
         -modernize-use-nodiscard,
         -readability-avoid-const-params-in-decls,
         -readability-uppercase-literal-suffix,
         -hicpp-uppercase-literal-suffix,
         -google-readability-namespace-comments,
         -misc-non-private-member-variables-in-classes'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
...

