---
Checks: 'boost-*,
         bugprone-*,
         cert-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         google-*,
         hicpp-*,
         llvm-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-pro-type-member-init,
         -google-readability-namespace-comments,
         -hicpp-avoid-c-arrays,
         -hicpp-member-init,
         -hicpp-uppercase-literal-suffix,
         -llvm-include-order,
         -llvm-else-after-return,
         -misc-non-private-member-variables-in-classes,
         -modernize-avoid-c-arrays,
         -modernize-use-trailing-return-type,
         -modernize-use-nodiscard,
         -readability-avoid-const-params-in-decls,
         -readability-else-after-return,
         -readability-magic-numbers,
         -readability-uppercase-literal-suffix'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
...

